<div class="wrapper wrapper-full-page">
    <nav class="navbar navbar-primary navbar-transparent navbar-absolute">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-example">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Quản lý công việc</a>
            </div>
            <div class="collapse navbar-collapse" id="menu-example">
                <ul class="nav navbar-nav navbar-right">
                    <li routerLinkActive="active">
                        <a routerLink="/auth/register">
                            <i class="material-icons">person_add</i> Đăng ký
                        </a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/auth/login">
                            <i class="material-icons">fingerprint</i> Đăng nhập
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="full-page register-page" filter-color="black" data-image="/assets/img/img14.jpg">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="card card-signup">
                        <h2 class="card-title text-center">Register</h2>
                        <div class="row">

                            <div class="col-md-11">
                                <div class="social text-center">
                                    <button class="btn btn-just-icon btn-round btn-twitter">
                                        <i class="fa fa-twitter"></i>
                                    </button>
                                    <button class="btn btn-just-icon btn-round btn-dribbble">
                                        <i class="fa fa-dribbble"></i>
                                    </button>
                                    <button class="btn btn-just-icon btn-round btn-facebook">
                                        <i class="fa fa-facebook"> </i>
                                    </button>
                                    <h4> or be classical </h4>
                                </div>
                                <form class="form" #RegisterForm="ngForm" (ngSubmit)="onRegister()">
                                    <div class="card-content">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">account_circle</i>
                                            </span>
                                            <input type="text" [(ngModel)]="model.userName" #userName="ngModel" id="userName" name="userName" class="form-control" placeholder="Tên Đăng Nhập...">
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">lock_outline</i>
                                            </span>
                                            <input type="password" [(ngModel)]="model.password" #password="ngModel" id="password" name="password" placeholder="Mật Khẩu..."
                                                class="form-control" />
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">face</i>
                                            </span>
                                            <input type="text" [(ngModel)]="model.fullName" #fullName="ngModel" id="fullName" name="fullName" class="form-control" placeholder="Họ Tên">
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">card_travel</i>
                                            </span>
                                            <input type="text" [(ngModel)]="model.company" #company="ngModel" id="company" name="company" class="form-control" placeholder="Công Ty...">
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">email</i>
                                            </span>
                                            <input type="text" class="form-control" [(ngModel)]="model.email" #email="ngModel" id="email" name="email" placeholder="Email...">
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">mobile_friendly</i>
                                            </span>
                                            <input type="text" class="form-control" [(ngModel)]="model.phoneNumber" #mobile="ngModel" id="phoneNumber" name="phoneNumber" placeholder="Số Điện Thoại...">
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">place</i>
                                            </span>
                                            <input type="text" class="form-control" [(ngModel)]="model.address" #address="ngModel" id="address" name="address" placeholder="Địa Chỉ...">
                                        </div>
                                        
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="optionsCheckboxes" checked> I agree to the
                                                <a href="#something">terms and conditions</a>.
                                            </label>
                                        </div>
                                    </div>
                                    <div class="footer text-center">
                                        <button type="submit" class="btn btn-rose btn-simple btn-wd btn-lg" [disabled]="!model.password&&!model.username">Đăng Ký</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="#">
                                Trang chủ
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Công ty
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Tin tức
                            </a>
                        </li>
                    </ul>
                </nav>
                <p class="copyright pull-right">
                    &copy; {{test | date: 'yyyy'}}
                    <a href="https://www.gotechcom.com">GoTechCom Team</a> , dẫn đầu công nghệ
                </p>
            </div>
        </footer>
    </div>
</div>
