<div class="main-content" style="margin-top:30px;">
    <div class="container-fluid">
        <div class="row">
            <div class="card card-stats">
                <div class="card-header" data-background-color="red">
                    <i class="material-icons">equalizer</i>
                </div>
                <div class="card-content" style="padding: 0;">
                    <div class="form-group">
                        <input style="width: 30%; margin-left: 70%;" placeholder="Tìm kiếm..." type="text" class="form-control"
                            name="search" [(ngModel)]="obj_search.fullName" (keydown)="search($event)" >
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row" style="padding: 0px 25px;">
                        <button class="btn btn-sm btn-primary" (click)="addData()">
                            <i class="material-icons">add</i>
                        </button>
                    </div>
                    <ngx-datatable class="material" [rows]="list_data" [columnMode]="'force'" [headerHeight]="40"
                        [footerHeight]="40" [rowHeight]="40" [limit]="5" style="width:100%">
                        <ngx-datatable-column name="STT" sortable="true" [width]="10">
                            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                {{column.name}}
                            </ng-template>
                            <ng-template let-row="row" let-value="value" let-rowIndex="rowIndex"
                                ngx-datatable-cell-template>
                                {{rowIndex + 1}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Tên đăng nhập" sortable="true" prop="userName">
                            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                {{column.name}}
                            </ng-template>
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                {{value}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Tên đầy đủ" sortable="true" prop="fullName">
                            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                {{column.name}}
                            </ng-template>
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                {{value}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Chức Danh" sortable="true" prop="otherListName">
                            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                {{column.name}}
                            </ng-template>
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                {{value}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Email đăng ký" sortable="true" prop="email">
                            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                {{column.name}}
                            </ng-template>
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                {{value}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Trạng thái" sortable="true" prop="status">
                            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                {{column.name}}
                            </ng-template>
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                <span *ngIf="value === 0" style="padding: 6px 10px; background: #f5a623;color:white;border-radius: 15px;">Đã
                                    nghỉ việc</span>
                                <span *ngIf="value === 1" style="padding: 6px 10px; background: #3182b7;color:white;border-radius: 15px;">Đang
                                    làm việc</span>

                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Hành động" sortable="true" prop="id" [width]="10">
                            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                {{column.name}}
                            </ng-template>
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                <span style="color:rgb(107, 107, 107);font-size: 14px;">
                                    <i class="material-icons md-18" style="margin-right: 10px;" (click)="editData(row)">create</i>
                                    <i class="material-icons md-18" (click)="deleteRow(row)">clear</i>
                                </span>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>

                    <!-- Modal Add EDIT -->
                    <bs-modal #modal1 [backdrop]="'static'" [keyboard]="false">
                        <form #modalForm="ngForm" (ngSubmit)="saveData()">
                            <bs-modal-header>
                                <h4 class="modal-title" *ngIf="state_type === 'new'">Thêm mới nhân viên</h4>
                                <h4 class="modal-title" *ngIf="state_type === 'edit'">Sửa thông tin nhân viên</h4>
                            </bs-modal-header>
                            <bs-modal-body>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label">Tên đầy đủ <span style="color:red"> (*)</span></label>
                                                <input class="form-control" [(ngModel)]="obj_edit.fullName" name="fullname"
                                                    required #fullname="ngModel" />
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label">Tên đăng nhập <span style="color:red"> (*)</span></label>
                                                <input class="form-control" [disabled]="state_type === 'edit'" required
                                                    [(ngModel)]="obj_edit.userName" name="userName" required #userName="ngModel" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="col-sm-6" *ngIf="state_type === 'new'">
                                            <div class="form-group">
                                                <label class="control-label">Mật khẩu <span style="color:red"> (*)</span></label>
                                                <input class="form-control" type="password" [(ngModel)]="obj_edit.password"
                                                    name="password" required #password="ngModel" />
                                            </div>
                                        </div>
                                        <div class="col-sm-6" *ngIf="state_type === 'edit'">
                                            <div class="form-group">
                                                <label class="control-label">Mật khẩu mới</label>
                                                <input class="form-control" type="password" [(ngModel)]="obj_edit.password"
                                                    required name="password" required #password="ngModel" />
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group" *ngIf="state_type === 'edit'">
                                                <label class="control-label">Trạng thái</label>
                                                <select class="browser-default form-control" [(ngModel)]="obj_edit.status"
                                                    name="status" required #status="ngModel">
                                                    <option [ngValue]="item.id" *ngFor="let item of list_status">{{item.name}}</option>
                                                </select>
                                            </div>

                                            <div class="form-group" *ngIf="state_type === 'new'">
                                                    <label class="control-label">Trạng thái</label>
                                                    <input class="form-control" type="text" required value="Đang làm việc" disabled/>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label">Số điện thoại</label>
                                                <input class="form-control" [(ngModel)]="obj_edit.phoneNumber" name="phoneNumber"
                                                    required #phoneNumber="ngModel" />
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label">Địa chỉ</label>
                                                <input class="form-control" [(ngModel)]="obj_edit.address" name="address"
                                                    required #address="ngModel" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label">Email</label>
                                                <input class="form-control" [(ngModel)]="obj_edit.email" name="email"
                                                    required #email="ngModel" />
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label">Chức danh</label>
                                                <select class="browser-default form-control" [(ngModel)]="obj_edit.otherListId"
                                                    name="otherListId" required #otherListId="ngModel">
                                                    <option [ngValue]="item.id" *ngFor="let item of list_chucdanh">{{item.name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <style>
                                    .label-control {
                                        margin-top: 8px;
                                    }
                                </style>
                            </bs-modal-body>
                            <bs-modal-footer>
                                <button type="button" class="btn btn-default" (click)="cancelSave()" style="margin-bottom:0;">Hủy
                                    bỏ</button>
                                <button type="submit" *ngIf="state_type === 'new'" class="btn btn-primary" [disabled]="!obj_edit.password||!obj_edit.userName">Đồng ý</button>
                                <button type="submit" *ngIf="state_type === 'edit'" class="btn btn-primary" >Đồng ý</button>
                            </bs-modal-footer>
                        </form>
                    </bs-modal>

                    <!-- Modal Confirm Delete -->
                    <bs-modal #confirmdeletemodal [backdrop]="'static'" [keyboard]="false">
                        <bs-modal-body>
                            <div class="container" style="padding: 10px 25px;width:100%;">
                                Xác nhận xóa
                            </div>
                        </bs-modal-body>
                        <bs-modal-footer>
                            <div style="padding-right:40px;">
                                <button type="button" class="btn btn-default-2" (click)="confirmdeletemodal.close()"
                                    style="margin-bottom:0;margin-right:10px;">Hủy bỏ</button>
                                <button type="button" (click)="removeOK()" class="btn btn-primary">
                                    Đồng ý </button>
                            </div>
                        </bs-modal-footer>
                    </bs-modal>
                </div>
            </div>
        </div>
    </div>
</div>